/* Ajoutez des styles CSS personnalisés ici si nécessaire */
form {
    max-width: 500px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 8px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color:rgba(178, 128, 113, 1);
    color: #fff;
    border: none;
    cursor: pointer;
}