.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.cart-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.cart-item-info {
    flex-grow: 1;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(181, 121, 110, 1);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.svg-container {
    display: flex;

    /* Alignement vertical au centre */
}

.svg-container img {
    margin-right: 0px;
    /* Marge entre les images */
}